# Function Arguments and return statement
There are four types of arguments that we can provide in a function:

Default Arguments
Keyword Arguments
Variable length Arguments
Required Arguments
Default arguments:
We can provide a default value while creating a function. This way the function assumes a default value even if a value is not provided in the function call for that argument.

In [2]:
def name(fname, mname = "Jhon", lname = "Whatson"):
    print("Hello,", fname, mname, lname)
name("Amy")

Hello, Amy Jhon Whatson

# list

In [21]:
l1=[22,32,89,89,99]
print(l1)
print(l1[:])
print(l1[0:4])
print(l1[1:4])
print(l1[2:4])
print(l1[3:4])
print(l1[4])

[22, 32, 89, 89, 99]
[22, 32, 89, 89, 99]
[22, 32, 89, 89]
[32, 89, 89]
[89, 89]
[89]
99

In [35]:
if 99 and 33 in l1:
    print("yes")
else:
    print("no")

no

In [36]:
if 99 or 33 in l1:
    print("yes")
else:
    print("no")

yes

In [38]:
l1.append(10)

In [39]:
print(l1)

[22, 32, 89, 89, 99, 10]

In [40]:
l1.sort(reverse=True)

In [41]:
l1

[99, 89, 89, 32, 22, 10]

In [42]:
l1.sort(reverse=False)

In [43]:
l1

[10, 22, 32, 89, 89, 99]

# Concatenating two lists:
You can simply concatenate two lists to join two list

In [50]:
colors = ["voilet", "indigo", "blue", "green"]
colors2 = ["yellow", "orange", "red"]
print(colors + colors2)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

# extend():
This method adds an entire list or any other collection datatype (set, tuple, dictionary) to the existing list.

In [51]:

colors = ["voilet", "indigo", "blue"]
rainbow = ["green", "yellow", "orange", "red"]
colors.extend(rainbow)
print(colors)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

# insert():
This method inserts an item at the given index. User has to specify index and the item to be inserted within the insert() method.

In [52]:
colors = ["voilet", "indigo", "blue"]
colors.insert(1, "green") 
print(colors)

['voilet', 'green', 'indigo', 'blue']

# append():
This method appends items to the end of the existing list.

In [54]:
colors = ["voilet", "indigo", "blue"]
colors.append("green")
print(colors)

['voilet', 'indigo', 'blue', 'green']

# Python Tuples
Tuples are ordered collection of data items. They store multiple items in a single variable. Tuple items are separated by commas and enclosed within round brackets (). Tuples are unchangeable meaning we can not alter them after creation.

In [57]:
l=(22,32,89,89,99)
print(l)
print(l[:])
print(l[0:4])
print(l[1:4])
print(l[2:4])
print(l[3:4])
print(l[4])

(22, 32, 89, 89, 99)
(22, 32, 89, 89, 99)
(22, 32, 89, 89)
(32, 89, 89)
(89, 89)
(89,)
99

In [58]:
if 99 or 33 in l:
    print("yes")
else:
    print("no")

yes

In [60]:
if 99 and 33 in l:
    print("yes")
else:
    print("no")

no

In [61]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Germany" in country:
    print("Germany is present.")
else:
    print("Germany is absent.")

Germany is present.

In [63]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[::2])

('cat', 'bat', 'pig', 'donkey', 'cow')

# Manipulating Tuples
Tuples are immutable, hence if you want to add, remove or change tuple items, then first you must convert the tuple to a list. Then perform operation on that list and convert it back to tup

In [65]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia") 
temp.pop(3)           
temp[2] = "Finland"       
countries = tuple(temp)
print(countries)

('Spain', 'Italy', 'Finland', 'Germany', 'Russia')

In [67]:
tuple1 = (0, 1, 2, 3, 2, 31, 1, 3, 2, 3)
res = tuple1.count(3)
res = tuple1.index(3)
res = tuple1.index(31)
res = tuple1.index(3, 4, 8)
res = len(tuple1)
print('Count of 3 in tuple1 is:', res)

Count of 3 in tuple1 is: 10

# RECURSION IN PYTHON

Recursion is the process of defining something in terms of itself.

Python Recursive Function
In Python, we know that a function can call other functions. It is even possible for the function to call itself. These types of construct are termed as recursive functions.

In [69]:
def factorial(num): 
    if (num == 1 or num == 0):
        return 1
    else:
        return (num * factorial(num - 1))

In [70]:
num = 7; 
print("Number: ",num)
print("Factorial: ",factorial(num))

Number:  7
Factorial:  5040