# Python Sets
Sets are unordered collection of data items. They store multiple items in a single variable. Set items are separated by commas and enclosed within curly brackets {}. Sets are unchangeable, meaning you cannot change items of the set once created. Sets do not contain duplicate items.

In [1]:
info = {"Carla", 19, False, 5.9, 19}
print(info)

{False, 19, 5.9, 'Carla'}

In [2]:
s={1,2,3,3,4,5,6,5,3,3,893,63,}
print(s)

{1, 2, 3, 4, 5, 6, 893, 63}

In [3]:
print(len(s),s)

8 {1, 2, 3, 4, 5, 6, 893, 63}

In [4]:
sk = {"Carla", 19, False, 5.9}
for i in sk:
    print(i)

False
19
5.9
Carla

# Joining Sets
Sets in python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.

# . union() and update():
The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [5]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

{'Madrid', 'Delhi', 'Seoul', 'Berlin', 'Tokyo', 'Kabul'}

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)

{'Madrid', 'Delhi', 'Seoul', 'Berlin', 'Tokyo', 'Kabul'}

# intersection and intersection_update():
The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [7]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

{'Madrid', 'Tokyo'}

In [8]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

{'Madrid', 'Tokyo'}

# symmetric_difference and symmetric_difference_update():
The symmetric_difference() and symmetric_difference_update() methods prints only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

In [9]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)

{'Delhi', 'Seoul', 'Berlin', 'Kabul'}

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)

{'Delhi', 'Seoul', 'Berlin', 'Kabul'}

# difference() and difference_update():
The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets. The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

In [11]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)

{'Madrid', 'Tokyo', 'Berlin'}

In [12]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
print(cities.difference(cities2))

{'Madrid', 'Tokyo', 'Berlin'}

# Dictionary

In [13]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info) 
print(info.keys())
print(info.values())

{'name': 'Karan', 'age': 19, 'eligible': True}
dict_keys(['name', 'age', 'eligible'])
dict_values(['Karan', 19, True])

In [14]:

for key in info.keys():
  print(f"The value corresponding to the key {key} is {info[key]}")

The value corresponding to the key name is Karan
The value corresponding to the key age is 19
The value corresponding to the key eligible is True

In [ ]:
print(info.items())
for key, value in info.items():
  print(f"The value corresponding to the key {key} is {value}")

In [ ]:
s1={1:"sajid khan" , 2: "ashish truba"}

In [ ]:
# s2={3:"ai ds", 4: "CSE"}

In [ ]:
# print(s1,s2)

In [ ]:
# s1.update(s2)

In [ ]:
# print(s1)

In [ ]:
# s1.clear()

In [ ]:
s1

In [ ]:
s2={3 : 2000, 4: 5000}

In [ ]:
s2.pop(3)

In [ ]:
s2.popitem()

# loop

# with else

In [15]:
for i in range(11):
    print(i*10)

0
10
20
30
40
50
60
70
80
90
100

In [16]:
for i in range(10):
    print(i*10)
else:
    print("it is 10 table from 0 to 100")

0
10
20
30
40
50
60
70
80
90
it is 10 table from 0 to 100

In [17]:
for i in range(10):
    print(i*10)
    if i == 2:
        break
else:
    print("it is 10 table from 0 to 100")

0
10
20

In [37]:
i=0
while i>7:
    print(i)